.classpath
.project
.settings/
target/
.externalToolBuilders/
*/target/*
*/.settings/*
bin/
*/.gitignore
*/.classpath
*/.project
*.swp
*.ipr
*.iml
*.iws
.idea/
.idea_modules/

jbpm-console/
dashboard-builder/

test-output/

